numpy==1.26.4
pandas==2.3.0
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.6.1
imbalanced-learn==0.13.0
shap==0.48.0
jupyterlab==4.4.5
notebook==7.4.4

# Requires Python >= 3.10

# Optional: For older Python versions
# pickle5; python_version < "3.8"